<app-header [maxPageNumber]="dashboardService.maxPageNumber" [nextPage]="dashboardService.currentPage"></app-header>

<div class="dashboard">
  <a class="planets">
    <app-sphere #planets
      [planet]="planet"
      *ngFor="let planet of dashboardService.planetsData" (keyup.enter)="onDetailInfo(planet.url)"
      (click)="onDetailInfo(planet.url)">
    </app-sphere>
  </a>

  <ng-container *ngIf="!dashboardService.isLoading else loading">
    <button class="load-more" *ngIf="dashboardService.nextPage else noPages" (keyup.enter)="loadMore()" (click)="loadMore()">Load more</button>

    <ng-template #noPages>
      <p class="no-more-planet">These are all planets in the galaxy</p>
    </ng-template>
  </ng-container>

  <ng-template #loading>
      <p>loading</p>
  </ng-template>

</div>
