.dashboard{
  background: url("/assets/img/space.jpg") repeat white;
  min-height: calc(100vh - 90px);
  padding: 60px 0 30px 0;
}

.planets{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  //&__item{
  //  margin-bottom: 10px;
  //  width: 33%;
  //  height: 100px;
  //  background: aqua;
  //}
}

.load-more{
  cursor: pointer;
  margin: 0 auto;
  display: block;
  padding: 12px 40px;
  font-size: 16px;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  transition: .1s all ease;
  &:hover, &:focus{
    color: #00041B;
    background: white;
  }
}
